.register {
    background-image: url(../../../assets/pexels-photo-1084425.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
}
.input-lg {
    width: 260px;
    height: 30px;
    border: solid gray;
    border-radius: 6px;
    margin: 10px;
}
.btn-primary {
    width: 260px;
    height: 30px;
    border-radius: 6px;
    margin: 10px;
    color: black;
    background-color: white;
    border: solid gray;
}