.register {
    background-image: url(../../../assets/pexels-photo-1084425.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Lobster', cursive;
    display: flex;
    height: 800px;
    align-items: center;
    color: white;
}
.card-body {
    font-size: 1.2em;
    justify-content: left;
    background: rgba(0,0,0,.5);

}
.input-lg {
    width: 260px;
    height: 30px;
    border: solid gray;
    border-radius: 6px;
    margin: 10px;
}
.btn-primary {
    font-family: 'Lobster', cursive;
    font-size: .8em;
    width: 260px;
    height: 30px;
    border-radius: 6px;
    color: gray;
    background-color: white;
    border: solid gray;
    text-align: center;
}