<div class="container">
  
    <div class="row">
      
      <div class="col-md-4">
        <form action="">
        
        <section class="login-form mx-auto">
          <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" />
          <div class="form-group">
            <input type="email" name="email" id="nameUser" placeholder="Email" required class="form-control input-lg" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
          </div>
          <div class="col-md-4">       
            <button type="button" name="signIn" class="btn btn-primary btn-block btn-lg">Sign in</button>
          </div>
          <div>
            <a href="#">Crear cuenta</a>   
          </div>
          <div>
            <a href="#">No recuerdas tu contraseña?</a>
          </div>        
        </section>
      </form>  
    </div>     
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card"> 
        <div class="card-body">
          <button class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i>Facebook</button>
          <button class="btn btn-lg btn-google"><i class="fa fa-google-plus"></i>Google</button>
        </div>
      </div>
    </div>
    
  </div>