<div class="container">
  <div class="row divs">
    <div class="col-8">
      <form>
      <section class="login-form mx-auto">
        <h1>SocialPets</h1>
        <div>
          <ul>
            <li>Encuentra artículos para tu mascota</li>
            <li>Comparte fotos de miles de mascotas</li>
            <li>Encuentra y comparte tips</li>
            <li>Ayudalos a regresar a su casa</li>
          </ul>
        </div>
        <div>
          <h2><u>Inicia sesión</u></h2>
        </div>
        <div class="form-group">
          <input type="email" name="email" id="nameUser" [(ngModel)]="email" placeholder="correo electrónico" class="form-control input-lg" />
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control input-lg" id="password" [(ngModel)]="password" placeholder="contraseña"/>
        </div>
        <div>       
          <input type="button" name="signIn" (click)="onSubmitLogin()" value="Aceptar" class="btn btn-primary">        </div>
        <div>
          <button class="btn btn-lg btn-facebook" (click)="onClickFacebook()"><i class="fab fa-facebook-square"></i></button>
          <button class="btn btn-lg btn-google" (click)="onClickGoogle()"><i class="fab fa-google-plus-g"></i></button>
        </div>
        <div>
          <u> <a href="#"  class="count" routerLink="/register">Crear cuenta</a></u>   
        </div>      
      </section>
    </form>  
  </div>     
</div>

