<div class="container">
  <div class="row divs">
    <div class="col-md-4">
      <form>
      <section class="login-form mx-auto">
        <h1>SocialPets</h1>
        <div>
          <ul>
            <li>Encuentra artículos para tu mascota</li>
            <li>Comparte fotos de miles de mascotas</li>
            <li>Encuentra y comparte tips</li>
            <li>Ayudalos a regresar a su casa</li>
          </ul>
        </div>
        <div class="form-group">
            <h2>Inicia sesión</h2>
          <label for="inputEmail">Ingresa un correo electrónico:</label>
          <input type="email" name="email" id="nameUser" [(ngModel)]="email" placeholder="Email" required class="form-control input-lg" />
        </div>
        <div class="form-group">
            <label for="inputEmail">Ingresa una contraseña:</label>
          <input type="password" name="password" class="form-control input-lg" id="password" [(ngModel)]="password" placeholder="Password" required="" />
        </div>
        <div class="col-md-4">       
          <input type="button" name="signIn" (click)="onSubmitLogin()" value="Iniciar Sesión" class="btn btn-primary btn-block btn-lg">        </div>
        <div class="col-md-4">
          <button class="btn btn-lg btn-facebook" (click)="onClickFacebook()"><i class="fab fa-facebook-square"></i></button>
          <button class="btn btn-lg btn-google" (click)="onClickGoogle()"><i class="fab fa-google-plus-g"></i></button>
        </div>
        <div>
          <a href="#"  class="count" routerLink="/register">Crear cuenta</a>   
        </div>      
      </section>
    </form>  
  </div>     
</div>

