<div class="row">
  <div class="col-md-10 mx-auto mt-2">
    <div class="card">
      <div class="card-header">Mensaje nuevo</div>
      <div class="card-body">
        <div class="form">
          <div class="form-group">
              <input type="text" id="description" [(ngModel)]="post.description">    
          </div>
          <div class="col-md-4">
              <input type="button" (ngSubmit)="onSavePost()" value="Publicar">
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>